body
{
background-color:white;
}

.titulo
{
color: grey11;
font-family:arial black;
font-size: 50px;
text-align:center;
text-shadow: 4px 4px 3px gray;
}

h1
{
color: black;
font-family:verdana;
font-size: 40px;
text-align:center;
text-shadow: 4px 4px 3px gray;
}

hr
{
border-color:DarkSlateBlue;
width: 100%
height: 1px;
}

marquee
{
background-color: gray;
color: black;
height:30px;
font-weight:bold;
font-size: 25px;
}

ul.ordem
{
list-style-type:disc;
color: black;
font-family:arial;
font-size: 20px;
text-align: center;
}

p
{
color:black;
font-family:arial;
font-size:20px;
text-align: justify;
}

p
{
color:black;
font-family:arial;
font-size:20px;
text-align: center;
}

.texto
{
text-align="center";
}

.figura
{
width:320px;
height: 250px;
}



.botao
{
background-color: black;
color:white;
width:170px;
padding: 13px 30px;
font-weight: bold;
font-size:14px;
text-align: center;
border-radius:16px;
border: none;
text-decoration:none;
border: 2px solid grey11;
opacity: 0.9;
display:inline-block;
}

.botao:hover
{
background-color:black;
box-shadow:0 7px DimGray;
color:white;
}

.botao:active
{
background-color:DimGray;
box-shadow: 0 7px black;
transform: translateY(10px);
color:white;
}


.botaotexto
{
background-color: gray;
color:white;
width:180px;
padding: 10px 20px;
font-weight: bold;
text-decoration:none;
font-size:15px;
text-align: center;
border-radius:0px;
border: none;
border: 2px solid grey11;
opacity: 0.9;
display:inline-block;
}

.botaotexto:hover
{
background-color:Dimgray;
color:white;
}

.botaotexto:active
{
background-color:DimGray;
color:white;
}

.botaofoto
{
background-color: gray;
color:black;
width:120px;
padding: 10px 20px;
font-weight: bold;
text-decoration:none;
font-size:12px;
text-align: center;
border-radius:0px;
border: none;
border: 2px solid grey11;
opacity: 0.9;
display:inline-block;
}

.botaofoto:hover
{
background-color:Dimgray;
color:white;
}

.botaofoto:active
{
background-color:DimGray;
color:white;
}